.page {
  

  background: url('/background.png') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #13195c;
  backdrop-filter: blur(4px);
  
  
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: "100%";

}

.container {
width: 90%;
max-width: 800px;
height: 70vh;
background: rgba(255, 255, 255, 0.1);
border-radius: 15px;
padding: 2rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
overflow-y: scroll;
overflow-x: hidden;
}

.title {
text-align: center;
margin-bottom: 2rem;
font-size: 2.5rem;
color: white;
}

/* modify these styles for the scrollbar */
.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* make the track transparent like the container */
}

.container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 139, 0.5); /* dark blue color with some transparency */
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 56, 139, 0.8); /* darker blue color when hovering */
}

.tooltipWrapper {
  position: relative;
  display: inline-block;

}

.infoIcon {
  cursor: pointer;
  color: #00bfff;
  font-size: 18px;
}

.selectorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.tooltipContent {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #222;
  color: white;
  padding: 8px;
  font-size: 12px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 10;
  line-height: 1.4;
}

/* ✨ This is the magic line */
.tooltipWrapper:hover .tooltipContent {
  display: block;
}