.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #13195c;
    margin: 1rem;


  }
  
  .header-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .header-contact {
    background-image: linear-gradient(to bottom, #000000, #2c2c5d);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
  }
  