.container {
    display: flex;
  }
  .sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #000000, #1c1c3d);
  }
  
  .sidebar button {
    background-image: linear-gradient(to bottom, #000000, #2c2c5d);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
  }
  
  
  .main {
    margin: 4px 2px;


    padding: 8px 16px;


    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(44, 44, 93, 0.5)), url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    margin: 0;
    font-family: sans-serif;
  }